<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Secret Santa</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link href='https://fonts.googleapis.com/css?family=Mountains of Christmas' rel='stylesheet'>
</head>

<body>
    <h1><span>Secret</span> Santa</h1>
    <div id="password-container">
        <form action="/sign_in" method="post">
            <label>Enter group name and password to sign in:</label><br>
            <input type="text" id="username" name="username" placeholder="GROUP NAME" required><br><br>
            <input type="password" id="password" name="password" placeholder="PASSWORD" required><br><br>
            <button>Sign in</button>
        </form>
        <!-- Links currently just go to next page, don't have other functionality yet -->
    </div>

    <div id="newGroup-container">
        <form action="/create_group" method="post">
            <label>Create a group name and password:</label><br>
            <input type="text" id="newGroupName" name="newGroupName" placeholder="GROUP NAME" required><br><br>
            <input type="password" id="newPassword" name="newPassword" placeholder="PASSWORD" required><br><br>
            <button>Create</button>
        </form>
        <!-- Links currently just go to next page, don't have other functionality yet -->
    </div>

</body>

</html>